.footer{
    background: #000;
}

.footer-container{
    max-width: 1200px;
    padding: 120px 20px 60px 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    align-items: center;
}

.footer-texto{
    font-size: 1.5rem;
    line-height: 1.33;
    color: #fff;
}
.footer-texto strong{
    color: #007bc0;
}

.footer-contato li{
    font-weight: bold;
    font-size: 2.25rem;
    line-height: 1.1;
    color: #fff;
    margin-bottom: 30px;
}

.footer .subtitulo {
    font-size: 8rem;
    word-break: break-all;
    line-height: 1;
    max-width: 4ch;
    text-transform: uppercase;
    text-align: center;
    color: #6d6d6d;
    grid-row: 1/3;
    
}
.footer-contato{
grid-column: 2;
}

.footer-contato li a{
    color: #fff;
    text-decoration: none;
}
.footer-contato li a:hover{
    color: #007bc0;
}

.footer-contato{
    position: relative;
}

.footer-contato .contato-email::before{
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background: url(./imagens/ICONE-EMAIL.svg) no-repeat center center;
    position: relative;
    left: -30px;
    bottom: -35px;
}

.footer-contato .contato-instagram::before{
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background: url(./imagens/ICONE-INSTAGRAM.svg) no-repeat center center;
    position: relative;
    left: -30px;
    bottom: -35px;
}

.footer-contato .contato-github::before{
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background: url(./imagens/ICONE-GitHub.svg) no-repeat center center;
    position: relative;
    left: -35px;
    bottom: -38px;
}

.footer-contato .contato-linkedin::before{
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background: url(./imagens/ICONE-LINKEDIN.svg) no-repeat center center;
    position: relative;
    left: -30px;
    bottom: -35px;
}

.footer-contato .contato-dribble::before{
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background: url(./imagens/ICONE-DRIBBLE.svg) no-repeat center center;
    position: relative;
    left: -40px;
    bottom: -35px;
}

.footer-copy{
    font-size: 0.85rem;
    color: #8f8f8f;
    margin: 0 auto;
    display: block;
    max-width: 1200px;
    text-align: center;
    padding-bottom: 20px;
}

.footer-copy a{
    text-decoration: none;
    color: #007bc0;
}

@media(max-width: 800px){
    .footer .subtitulo{
        display: none;
        }

    .footer-container{
        max-width: auto;
        padding: 80px 20px 60px 20px;
        margin: 0 auto;
        grid-template-columns: 1fr;
        gap: 20px;
        align-items: center;
    }


    .footer-contato li{
        font-weight: bold;
        font-size: 1.25rem;
        line-height: 1;
        color: #fff;
        margin-bottom: 5px;
        grid-column: 1;
    }

    .footer-texto{
            font-size: 1.2rem;
            line-height: 1.1;
            color: #fff;
            grid-column: 1;
    }

    .footer-contato .contato-dribble::before
    {
        bottom: -25px;
    }

    .footer-contato .contato-github::before
    {
        bottom: -25px;
    }

    .footer-contato .contato-instagram::before
    {
        bottom: -28px;
    }

    .footer-contato .contato-linkedin::before
    {
        bottom: -28px;
    }

    .footer-contato .contato-email::before
    {
        bottom: -28px;
    }


}